* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(296.81deg, #F4E1D6 -47.61%, #F36F20 50%);
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 35px 0 0 43px;
}

.logo {
  height: 66px;
  margin-bottom: -30px;
}

.message {
  display: none;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  width: 85%;
  height: 81%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Jibang-img-1 {
  position: absolute;
  top: -70px;  
  right: 30px; 
  width: 150px;
  height: auto;
}



/* order-box */

.order-box {
  position: absolute;
  left: 20px;
  width: 250px;
  height: 92%;
  background-color: #FFF3EB;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
}

.order-item {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  gap: 12px; /* 숫자 동그라미와 텍스트 사이 간격 */
  position: relative;
  max-width: 100%;
}

.order-item:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 85px;
}

.order-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.circle-1,
.circle-2,
.circle-3 {
  width: 40px;
  height: 40px;
  color: #777777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 100;
  flex-shrink: 0;
  background: rgba(138, 138, 138, 0.2);
}

.circle-1 {
  border: 3px solid #F36F20;
}

.text-1 {
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.text-2,
.text-3 {
  font-weight: 600;
  font-size: 18px;
  color: #777777;
}

.order-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 18px;
  top: 46px;
  width: 3px;
  height: 90px;
  background-color: #777777;
  opacity: 20%;
  border-radius: 2px;
}



/* form-box */
.form-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  left: 350px;
}



/* sex-box */

.sex-box,
.age-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sex-label,
.age-label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.sex-button {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.sex-button-1,
.sex-button-2,
.age-textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-weight: 100;
  background-color: #E9E3E0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: rgba(0, 0, 0, 0.7);
}

.age-textBox {
  justify-content: flex-start;
  padding-left: 20px;
  outline: none;
}

  /* input의 기본 기능 제거 */
.age-textBox::-webkit-inner-spin-button,
.age-textBox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.age-textBox.focused,
.age-textBox:focus {
  background-color: #F36F20;
  color: white;
}

.sex-button-1:hover,
.sex-button-2:hover,
.plus-button:hover,
.minus-button:hover {
  background-color: #F36F20;
  color: white;
}

.selected {
  background-color: #F36F20 !important;
  color: white !important;
}



/* 구분선 */
.divider {
  width: 100%;
  height: 1px;
  background-color: #E9E3E0;
  margin: 35px 0;
}



/* age-box */

.age-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plus-button,
.minus-button {
  width: 30px;
  height: 30px;
  background-color: #E9E3E0;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  font-size: 16px;
  font-weight: 100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* next-button-container */

.next-button-container {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.next-button {
  background-color: #F36F20;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 18px;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.next-button:hover {
  color: white;
}





@media (max-width: 1200px) {
  .form-box {
    left: 310px;
    transition: all 0.3s ease;
  }
}
@media (max-width: 900px) {
  .logo {
    height: 50px;
    transition: all 0.3s ease;
  }

  .Jibang-img-1 {
    top: -50px;
    width: 100px;
    transition: all 0.3s ease;
  }

  .order-box {
    width: 200px;
    padding-left: 20px;
    transition: all 0.3s ease;
  }

  .order-item {
    gap: 5px;
  }

  .order-item:not(:last-child)::after {
    left: 16px;
    transition: all 0.3s ease;
    top: 40px;
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
  
  .text-1,
  .text-2,
  .text-3 {
    font-size: 16px;
  }

  .form-box {
    left: 270px;
    transition: all 0.3s ease;
  }

  .sex-label,
  .age-label {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .sex-button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .sex-button-1,
  .sex-button-2,
  .age-textBox {
    width: 100px;
    height: 25px;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  .next-button-container {
    padding-top: 480px;
    right: 40px;
    transition: all 0.3s ease;
  }
  
  .next-button {
    font-size: 16px;
    width: 95px;
    height: 35px;
    transition: all 0.3s ease;
  }
}
@media (max-width: 700px) {
  .order-box {
    width: 80px;
    padding-left: 20px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .text-1,
  .text-2,
  .text-3 {
    display: none;
  }

  .form-box {
    left: 120px;
  }
}
@media (max-width: 500px) {
  .order-box {
    left: 0;
  }

  .form-box {
    left: 80px;
    transition: all 0.3s ease;
  }

  .sex-label,
  .age-label {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .sex-button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .sex-button-1,
  .sex-button-2,
  .age-textBox {
    width: 90px;
    height: 25px;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  .next-button-container {
    right: 20px;
    transition: all 0.3s ease;
  }
}
@media (max-height: 600px) {
  .header {
    padding: 20px 0 0 23px;
    transition: all 0.1s ease;
  }

  .order-item:not(:last-child) {
    padding-bottom: 5px;
    margin-bottom: 65px;
  }

  .order-item:not(:last-child)::after {
    height: 60px;
  }
}
@media (max-height: 400px) {
  .main-box {
    display: none;
  }

  .header {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .logo {
    width: 50vw;
    max-width: 300px;
    height: auto;
  }

  .message {
    display: flex;
    padding-top: 100px;
    font-size: 20px;
    color: white;
    animation: blinkColor 2s infinite;
  }

  @keyframes blinkColor {
    0%   { color: #F36F20; }
    50%  { color: white; }
    100% { color: #F36F20; }
  }
}